{% extends 'base.html.twig' %}

{% block title %}Détails d'une entreprises{% endblock %}

{% block body %}
    <h1>Détails d'une entreprise</h1>

    <h2>{{ entreprise.raisonSociale }} | <a href="{{path('show_categorie', {'id':entreprise.categorie.id}) }}"> {{ entreprise.categorie }} </a></h2>

    <p>
        Adresse : {{ entreprise.adresseComplete }} <br>
        Date de création : {{ entreprise.getDateCreation|date("d-m-Y") }}
    </p>

    <h3>Liste des employés</h3>

    {% if entreprise.employes | length > 0 %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Employé</th>
            </tr>
        </thead>
        <tbody>

        {% for employe in entreprise.employes %}
            <tr><td><a href="{{path('show_employe', {'id':employe.id}) }}">{{employe}}</a></td></tr>
        {% endfor %}
                    
    </tbody>
</table>


    {% else %}
        <p>Aucun salarié dans cette entreprise</p>
    {% endif %}

    <a class="btn btn-warning" href="{{ path('edit_entreprise', {'id': entreprise.id}) }}">Edit</a>
<a class="btn btn-danger" href="{{ path('delete_entreprise', {'id': entreprise.id}) }}">Supp</a>


{% endblock %}